


<body style = "background-color:rgb(33, 47, 61); color: white;max-height:100vh;overflow-y:hidden;box-sizing:border-box" >
<div style="display:flex; flex-de=irection:row; position:sticky; text-align:center; height:55px; padding-top:15px;" >
<!-- Left content (imam-hassan text) -->
<p style="margin-left:20px" class="ml-16 text-lg text-white">imam-hassan</p>


<nav class="ml-auto" style="margin-left:900px;">
  <ul class="list-none p-0 pl-2 pr-5 flex justify-end " >
    <li class="mr-5" style="margin-left:15px;"><%= link_to "Home","/pages/home"%></li>
    <li class="mr-5" style="margin-left:15px;"><%= link_to "About-us","/pages/about"%></li>
    <li class="mr-5" style="margin-left:15px;"><%= link_to "Works","/pages/works"%></li>
    <li class="mr-5" style="margin-left:15px;"><%= link_to "Contact-us","/pages/contact"%><li>
    
  

    
   
    
  </ul>

</nav>
</div>


<div style="display:flex;margin-top:0; flex-direction:row; justify-content:center;padding-top:0px; heihgt:200px;">
 <div style= "width:50%;height:80%;border-top:3px solid white; "  ><%= image_tag 'img2.jpg' %>
</div>
 <div style=" width:50%;  height:550px;border-top:3px solid white;"  >
  <div style= "border:1px solid white;margin-top:50px; margin-left:70px; width:500px;height:400px;">

  <h1 style="color:white; text-align:center; font-size:20px;margin-top:95px;"> Welcome to My Portfolio</h1>

  <p style = "font-size:20px; text-align:center;color:white;margin-top:10px;">where creativity meets inovation and passion drive result.</p>

  <p style =" text-align:center;color:white;font-size:20px;">Dive into my world of creativity and see how i push boundaries and deliver exceptional results.</p>

  <button style="background-color:rgb(33, 47, 61); color: white;margin-left:150px;margin-top:29px;border:1px solid white;  white;height:40px;width:200px;"><%= link_to "Login","/sessions/login"%></button>

  </div>
    
 </div>
</div>

 


</body>


